@media only screen and (min-width : 421px) and (max-width : 600px) {

     
    .container{
       width: 100%;
       height: 600px;
       position: relative;
    }

   
   nav img{
       width: 100px;
   }
   
   .title-btn button{
       padding:7px 15px;
       margin-left: 5px;
       font-size: 10px;
   }
   
         /* ___________header session_________ */

   .header-content{
       width: 400px;
       max-width: 600px;
       position: absolute;
       color: white;
       top: 15%;
       left: 50%;
       transform: translate(-50%,0);
   }
   
   
   .header-content h1{
       font-family: "Netflix-Bold", serif;
       font-size: 40px;
       font-weight: 500;
       line-height: 40px;
       width: 400px;
       text-align: center;
   }
   
   .header-content h3{
       font-family: "Netflix-Medium", serif;;
       font-size: 16px;
       font-weight: 500;
       text-align: center;   
       line-height: 40px;
   }
   
   .header-content p{
       font-family: "Netflix-Light", serif;;
       font-size: 14px;
       font-size: 800;
       text-align: center;
       margin-bottom: 10px;
       margin-top: 10px;
   }
   
   .header-input{
       width: 100%;
       display: flex;
       justify-content: flex-start;
       align-items: center;
       flex-direction: column;
       flex-wrap: wrap;
       margin: auto;
   }
   
   .header-content input{
       width: 100%;
       height: 40px;
       margin: 12px 0px 0px 0px;
   }
   
   
   .btn{
       width: 160px;
       height: 40px;
   }
   
   .header-content button{
       font-size: 16px;
       height: 38px;
   }
   
   .header-content span i{
       font-size: 20px;
   }
   
   ::placeholder{
       font-size: 14px;
   }


   /* second */

   .second{
       width: 100%;
       position: relative;
       z-index: 99;
       bottom: 50px;
   }
   
   .title-bar h4{
       width: 90%;
       font-size: 16px;
       font-weight: 400;
       font-family: "Netflix-Medium", serif;
   
   }

   .wrapper{
       width: 90%;
   }
   
   .wrapper .items{
       margin: 10px 10px;
       width: 160px;

   }
   
   .items img{
       width: 120px;
       height: 160px;
   }

   
   .items span{
       font-size: 50px;
   }

   /* _____third box session________ */

   .third{
       width: 100%;
       position: relative;
   }
   
   
   .heading-h4{
       bottom: 50px;
       position: relative;
       width: 90%;
       margin: auto;
   }
   
   .heading-h4 h4{
       font-size: 16px;
       width: 98%;
       margin: 0px auto;
       margin-bottom: 20px;
       font-weight: 400;
       font-family: "Netflix-Medium", serif;
   }
   .box-container{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-wrap: wrap;
       flex-direction: column;
   }
   
   .box{
       height: 160px;
       width: 100%;
       margin: 0px 0px 8px 0px ;
       padding: 20px 20px 20px 20px;
   }
   
   .box img{
       width: 40px;
   }
   .box h3{
       font-family: "Netflix-Medium", serif;
       font-size: 18px;   
       line-height: 10px;
       font-weight: 400;
   }
   
   .box p{
       font-size: 14px;
   }


   /* _______faq Session_________ */

   .faq{
       position: relative;
       bottom: 30px;
       margin: auto;
       width: 90%;
   }
   
   .faq-service h3{
       font-size: 16px;
       font-weight: 400;
       font-family: "Netflix-Medium", serif;
   }
   
   .service{
       width: 100%;
       height: 60px;
       padding: 0px 15px;
       margin: 10px auto;
   }
   
   .service p{
       font-size: 18px;
       font-family: "Netflix-Medium", serif;
       font-weight: 400;
   }
   
   .service span{
       font-size: 40px;
   }
   
   /* footer input session fourth--- */
.footer-input{
   align-items: flex-start;
   flex-direction: column;
}


.footer-input input{
   width: 100%;
   height: 40px;
   margin: 10px 0px 0px 0px;
}

.faq small{
   font-family: "Netflix-Light", serif;
   font-size: 16px;
   margin-top: 30px;
}

.footer-input button{
   width: 150px;
   font-size: 16px;
   padding: 7px 10px;
   font-family: "Netflix-Light",serif;    
   margin: 12px 0px 0px 0px ;
   height: 40px;

}

.footer-input span{
   font-size: 20px;
}

/* fifth footer session */

.footer{
   margin-top: 10px;
}

.footer-service{
   width: 90%;
}

.footer-service p{
  font-size: 16px;
  font-family: "Netflix-Light", serif;
  margin-bottom:30px; 
}

.rows{
   flex-direction: column;
   flex-wrap: wrap;
}

.cols{
   width: 50%;
}

.cols a{
   font-size: 14px;
}

.footer button{
   font-family: "Netflix-Light", serif;
   color: #fff;
   height: 30px;
   width: 100px;
   font-size: 14px;
}

.last-footer{
   margin-top: 20px;
}



}